<section id="credit">
    <div class="container-fluid">
        <div id="socials">
            <a target="_blank" href="https://github.com/KushalBhanot/Explorer"><i
                    class="fab fa-github fa-3x white-icons"></i></a>
        </div>

        <p>Made with &hearts; by
            <a target="_blank" href="https://www.github.com/KushalBhanot">Kushal Bhanot</a> and <a target="_blank"
                href="https://github.com/Divyanshwick">Divyansh Kumar</a> </p>

        <p>All rights reserved.</p>
    </div>
</section>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
<script>AOS.init();</script>
</body>

</html>
