@import url("https://use.typekit.net/ojv4ekx.css");

* {
  padding: 0;
  margin: 0;
  font-family: "europa",sans-serif;
  box-sizing: border-box;
  outline:none;
}

/* color scheme */
:root {
    --primary: #ffac41;
    --primary-variant: #ff1e56;
    --tertiary: #323232;
    --text: #fff;
    --text-variant: #000;
    --highlight: #4194ff;
}

/* overall adjustments */
html {
    scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  /* background: var(--primary); */
}

.container-fluid {
    padding: 3% 10%;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width : 6px;
}

::-webkit-scrollbar-track {
  background: var(--text);
}

::-webkit-scrollbar-thumb {
  background: #75D5FD;
  border-radius: 1%;
}

::-webkit-scrollbar-thumb:hover {
    background: #B76CFD;
}

/* Navigation Bar */
nav {
   background: var(--text-variant);
   color: var(--text);
   z-index: 1;
}

.navbar {
    /* padding: 0 0 4.5rem;  */
    padding-left: 10%;
    padding-right: 10%;
  }

.navbar-brand {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--text);
}

.nav-item:hover {
    border-bottom: 2px solid var(--highlight);
}

.nav-link {
    font-size: 1.5 rem;
    font-weight: normal;
    color: var(--text);
}

.navbar-toggler i {
    color: var(--text);
}

.navbar-brand:hover, .nav-link:hover, .navbar-toggler i:hover {
    color: var(--primary-variant);
}

/* hero section */
#hero-section {
    background-image: url('assets/images/Untitled\ design\ \(4\).png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    margin-top: -74px;
    /* padding-top: 10%; */
}

/* Making the hero background responsive */
@media only screen and (max-width: 720px) {
  #hero-section {
    background-image: url('assets/images/hero\ background\ for\ mobile\ \(1\).png');
  }

  #hero-section h1 {
    padding-top: 160px;
  }
}
#hero-section h1 {
    color: var(--text);
    margin-top: 16%;
    font-size: 5rem;
    line-height: 1.25;
    font-weight: normal;
    padding-bottom: 3%;
}

#hero-section p {
    color: var(--text-variant);
    font-size: 1.5rem;
    padding-bottom: 50px;
}

/* .hero-image {
  background-color: transparent;
} */

.call-to-action, .call-to-action:visited {
    background-color: transparent;
    color: var(--text-variant);
    border: 2px solid var(--text);
    padding: 1% 4%;
    margin-bottom: 6%;
    border-radius: 0.4em;
}

.call-to-action:focus, .call-to-action:hover {
  padding: 1.2% 4.5%;
  outline: none;
}

.call-to-action:hover {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}

/* For Mobile Screens */
@media only screen and (max-width: 380px) {
  #hero-section h1 {
    font-size: 2.75em;
    font-weight: 800;
  }
  #hero-section p {
    width: 90%;
  }
}

/* story section */
#story {
    background-color: var(--secondary);
}

#story h1 {
    color: var(--text-color);
    margin-bottom: 7%;
}

#story p {
    color: var(--text-color);
}

.story-image {
    margin-bottom: 5%;
}

/* ideas section */
#ideas {
    background-color: var(--primary);
}

#ideas h1 {
    color: var(--text-color);
    margin-bottom: 7%;
}

#ideas p {
    color: var(--text-color);
}

.ideas-image {
    margin-top: 5%;
}

/* socials section */
#socials {
    background-color: var(--text-variant);
    text-align: center;
}

.white-icons {
  color: var(--text);
}

.white-icons:hover {
  color: var(--primary-variant);
}

/* credit section */
#credit {
    text-align: center;
    color: var(--text);
    background-color: var(--text-variant);
}

#credit a {
  color: var(--primary);
}

#credit a:hover {
  color: var(--text-color);
  text-decoration: none;
}

/* resources */
#resources {
  height: 90vh;
  background-color: rgba(65, 148, 255, 0.4);
}

#resources h3 {
  letter-spacing: 2px;
}

#resources ul {
  padding-left: 30px;
}

#resources a {
  color: var(--text-variant);
}

#resources a:hover {
  color: var(--text);
}

/* clubs & societies */
#mind-map {
  background-color: var(--primary-variant);
  height: 100vh;
  text-align: center;
  margin-top: -74px;
  padding-top: 5%;
}

/* Wall of Fame */
.stars {
  position : relative;
  width : 100%;
  overflow : hidden;
  height : 250px;
  background : #000200;
  clip-path:polygon(0 0,100% 0,100% 60%,50% 100%,0 60%);
  /* display : flex; */
  margin-bottom: 5%;
  /* justify-content : center;
  align-items : center;
  text-align: center; */
}

.stars .star {
  position: absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
  animation: animate 8s ease-in-out infinite,backgroundmove 16s linear infinite;
}
.stars .star.star1 {
  animation-delay: 0s;
  background : url("assets/images/star1.png");
}
.stars .star.star2 {
  animation-delay: -1s;
  background : url("assets/images/star2.png");
}
.stars .star.star3 {
  animation-delay: -2s;
  background : url("assets/images/star3.png");
}
.stars .star.star4 {
  animation-delay: -3s;
  background : url("assets/images/star4.png");
}
.stars .star.star5 {
  animation-delay: -4s;
  background : url("assets/images/star5.png");
}
.stars .star.star6 {
  animation-delay: -5s;
  background : url("assets/images/star6.png");
}
.stars .star.star7 {
  animation-delay: -6s;
  background : url("assets/images/star7.png");
}
.stars .star.star8 {
  animation-delay: -7s;
  background : url("assets/images/star8.png");
}
@keyframes animate {
  0%,20%,40%,60%,80%,100%{
    opacity: 0;
  }
  10%,30%,50%,70%,90%{
    opacity: 1;
  }
}
@keyframes backgroundmove {
  0% {
    transform : scale(1);
  }
  100% {
    transform : scale(2);
  }
}

#card {
  max-width : 700px;
  max-height : 500px;
  margin-left : auto;
  margin-right: auto;
}

#wof {
  background-image: url('assets/images/wof-3.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height : auto;
  padding-top: 74px;
  padding-bottom: 5%;
  text-align: center;
  margin-top: -74px;
}

#wof h1 {
  color : transparent;
   -webkit-text-stroke: 2px var(--text);
  padding-top: 2%;
  font-size : 100px;
  font-weight: 900;
  padding-bottom: 0;
}

#wofImg {
  background-image: url('https://images.pexels.com/photos/4114634/pexels-photo-4114634.jpeg?auto=compress&cs=tinysrgb&h=350');
  background-repeat: no-repeat;
  background-size : cover;

}

#wofTxt {
  background:var(--primary) ;
  transition: 0.5s linear;
  padding : 10px;
}

#wofTxt:hover {
  background:var(--tertiary);
  color : var(--text);
}

.card {
  border-radius: 8px;
  box-shadow: 5px 5px 15px var(--tertiary);
  transition : all 0.3s ease-in;
  background: var(--tertiary);
  color : var(--text);

}
.card:hover {
  background : var(--primary);
  box-shadow : 5px 5px 10px var(--tertiary);

} 
.card:hover h3,.card:hover i {
  color : var(--text);
} 

.card h1 {
  font-size : 36px !important;
  color : var(--primary-variant) !important;
  text-shadow: 2px 2px var(--primary) !important;
  font-weight : bold !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}
.card h3 {
  font-size : 24px;
  font-weight : bold;
  color : var(--primary);
  text-shadow: 2px 2px var(--primary-variant);
}
.card:hover h1{
  text-shadow: 3px 3px var(--tertiary) !important;
} 
.card:hover h3 {
  color : var(--tertiary);
}
.card img {
  margin-top: -50px;
}
.card i {
  font-size : 26px;
  transition : all 0.3s ease-in;
  color : var(--primary-variant);
}
.card i:hover{
  color : var(--tertiary);
}
.card p {
  font-size: 500;
}

@media only screen and (max-width : 1010px) {
  .clip {
    width : 70%;
  }
}
@media only screen and (max-width : 582px) {
  #wof h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width : 582px) {
  .clip {
    padding-bottom : 20px;
  }
}
@media only screen and (max-width : 372px) {
  #wof h1 {
    font-size: 40px;
    padding : 10px;
  }
}

/* Contact */
/* Contact */
.contact {
  display : flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--secondary);
}
.Box {
  position : relative;
  display: flex;
  box-shadow : 5px 5px 15px var(--tertiary);
  border-radius : 12px;
  width : 100%;
  max-width:1100px;
  margin : 20px;
  height : 600px;
  background : var(--tertiary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fBox { 
  flex : 0.5;
  /* width : 50%; */
  display: flex;
  justify-content: center;
  background : var(--tertiary);
  align-items : center;
}
.fBox form {
  position: relative;
  width : 100%;
  padding : 0 0 0 75px;
}

.fBox form h2 {
  color : var(--text-color);
  font-weight: 600;
  font-size : 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
.fBox form .iBox {
  position : relative;
  margin-bottom: 40px;
}
.fBox form .iBox:last-child {
  margin-bottom: 0;
}
.fBox form .iBox input, 
.fBox form .iBox textarea{
  position: relative;
  background: transparent;
  width : 80%;
  color : var(--text-color);
  border: none;
  outline: none;
  padding-bottom: 10px;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 300;
  border-bottom: 2px solid rgba(255,255,255,0.5);
  resize: none;
}
.fBox form .iBox textarea {
  height : 100px;
}
.fBox form .iBox input[type="submit"] {
  background : var(--text-color);
  padding : 8px 20px;
  margin-top: -10px;
  width : 120px;
  cursor: pointer;
  border: 1px solid var(--secondary);
  border-bottom-color: var(--secondary) !important;
  border-radius: 12px;
  color : var(--secondary);
  font-size : 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.3s ease-in;
}
.fBox form .iBox input[type="submit"]:hover {
  background: var(--secondary);
  color : var(--text-color);
  border-bottom-color: var(--secondary) !important;
}
.fBox form .iBox span {
  position : absolute;
  color : rgba(255,255,255,0.5);
  left : 0;
  font-weight: 300;
  display: inline-block;
  pointer-events: none;
  letter-spacing: 1px;
  transition: all 0.2s;
}
.fBox form .iBox input:focus ~ span, 
.fBox form .iBox textarea:focus ~ span,
.fBox form .iBox input:valid ~ span, 
.fBox form .iBox textarea:valid ~ span{
  transform : translateY(-24px);
  color : var(--secondary);
  font-size: 14px;
}
.fBox form .iBox input:focus, 
.fBox form .iBox textarea:focus,
.fBox form .iBox input:valid, 
.fBox form .iBox textarea:valid {
  border-bottom-color: var(--text-color) ;
}
.fBox form .iBox input[type="submit"]:focus,
.fBox form .iBox input[type="submit"]:hover {
  border-bottom-color: var(--secondary);
}
.imgBx {
 flex : 0.5;
  background-image: url('/assets/images/undraw_Group_chat_unwm.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
  height : 100%;
}

/*  under development */
#under-dev {
    text-align: center;
    padding-top: 30vh;
    height: 90vh;
}
