@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline:none;
}

/* color scheme */
:root {
  --primary: #ffac41;
  --secondary: #ff1e56;
  --tertiary: #323232;
  --accent: #4194ff;
  --text-color: #fff;
}

/* overall adjustments */
html {
    scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  /* background: var(--primary); */
}

.container-fluid {
    padding: 3% 10%;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width : 6px;
}

::-webkit-scrollbar-track {
  background: white
}

::-webkit-scrollbar-thumb {
  background: #75D5FD;
  border-radius: 1%;
}

::-webkit-scrollbar-thumb:hover {
    background: #B76CFD;
}

/* Navigation Bar */
nav {
   background: var(--tertiary);
}

.navbar {
    /* padding: 0 0 4.5rem;  */
    padding-left: 10%;
    padding-right: 10%;
  }

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.5 rem;
    font-weight: normal;
}

/* hero section */
#hero-section {
    background-image: url('assets/images/Untitled\ design\ \(4\).png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
    /* padding-top: 10%; */
}

#hero-section h1 {
    color: var(--text-color);
    margin-top: 16%;
    font-size: 5rem;
    line-height: 1.25;
    font-weight: normal;
    padding-bottom: 3%;
}

#hero-section p {
    color: var(--tertiary);
    font-size: 1.5rem;
    padding-bottom: 50px;
}

/* .hero-image {
  background-color: transparent;
} */

.call-to-action, .call-to-action:visited {
    background-color: transparent;
    color: var(--tertiary);
    border: 2px solid var(--text-color);
    padding: 1% 4%;
    margin-bottom: 6%;
    border-radius: 0.4em;
}

.call-to-action:focus, .call-to-action:hover {
  padding: 1.2% 4.5%;
  outline: none;
}

.call-to-action:hover {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}

/* For Mobile Screens */
@media only screen and (max-width: 380px) {
  #hero-section h1 {
    font-size: 2.75em;
    font-weight: 800;
  }
  #hero-section p {
    width: 90%;
  }
}

/* story section */
#story {
    background-color: var(--secondary);
}

#story h1 {
    color: var(--text-color);
    margin-bottom: 7%;
}

#story p {
    color: var(--text-color);
}

.story-image {
    margin-bottom: 5%;
}

/* ideas section */
#ideas {
    background-color: var(--primary);
}

#ideas h1 {
    color: var(--text-color);
    margin-bottom: 7%;
}

#ideas p {
    color: var(--text-color);
}

.ideas-image {
    margin-top: 5%;
}

/* socials section */
#socials {
    background-color: var(--tertiary);
    text-align: center;
}

.white-icons {
  color: var(--text-color);
}

.white-icons:hover {
  color: var(--secondary);
}

/* credit section */
#credit {
    text-align: center;
    color: var(--text-color);
    background-color: var(--tertiary);
}

#credit a {
  color: var(--primary);
}

#credit a:hover {
  color: var(--text-color);
  text-decoration: none;
}

/* resources */
#resources {
    height: 90vh;
}

/* clubs & societies */
#mind-map {
  background-color: var(--secondary);
  height: 90vh;
  text-align: center;
}

/* Wall of Fame */
.clip {
  background: linear-gradient(180deg, var(--accent),var(--secondary));
  position: sticky;
  margin-left: auto;
  margin-right: auto;
  clip-path:polygon(0 0,100% 0,100% 60%,50% 100%,0 60%);
  margin-bottom: 5%;
} 

#card {
  max-width : 700px;
  max-height : 500px;
  margin-left : auto;
  margin-right: auto;
}

#wof {
  background-image: url('assets/images/wof-3.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height : auto;
  padding-bottom: 5%;
  text-align: center;
}

#wof h1 {
  color : #1A1A1A;
  padding-top: 2%;
  text-shadow: 3px 3px var(--primary);
  font-size : 80px;
  font-weight: 700;
  padding-bottom: 10%;
}

#wofImg {
  background-image: url('https://images.pexels.com/photos/4114634/pexels-photo-4114634.jpeg?auto=compress&cs=tinysrgb&h=350');
  background-repeat: no-repeat;
  background-size : cover;

}

#wofTxt {
  background:var(--primary) ;
  transition: 0.5s linear;
  padding : 10px;
}

#wofTxt:hover {
  background: var(--tertiary);
  color : var(--text-color);
}

.card {
  border-radius: 8px;
  box-shadow: 5px 5px 15px var(--tertiary);
  transition : all 0.3s ease-in !important;
  background: var(--tertiary);
  color : var(--text-color);

}
.card:hover {
  background : var(--primary);
  box-shadow : 5px 5px 10px var(--tertiary);

} 
.card:hover h3,.card:hover i {
  color : var(--text-color);
} 

.card h1 {
  font-size : 36px !important;
  color : var(--secondary) !important;
  text-shadow: 2px 2px var(--primary) !important;
  font-weight : bold !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}
.card h3 {
  font-size : 24px;
  font-weight : bold;
  color : var(--primary);
  text-shadow: 2px 2px var(--secondary);
}
.card:hover h1{
  text-shadow: 3px 3px var(--tertiary) !important;
} 
.card:hover h3 {
  color : var(--tertiary);
}
.card img {
  margin-top: -50px;
}
.card i {
  font-size : 26px;
  transition : all 0.3s ease-in;
  color : var(--secondary);
}
.card i:hover{
  color : var(--tertiary);
}
.card p {
  font-size: 500;
}

@media only screen and (max-width : 1010px) {
  .clip {
    width : 70%;
  }
}
@media only screen and (max-width : 582px) {
  #wof h1 {
    font-size: 60px;
  }
}
@media only screen and (max-width : 582px) {
  .clip {
    padding-bottom : 20px;
  }
}
@media only screen and (max-width : 372px) {
  #wof h1 {
    font-size: 40px;
    padding : 10px;
  }
}
